.gamelevel{
  width: 100%;
  margin-top: 38px;
  height: 100px
}
.quizz{
  justify-content: center;
  margin-top: 19%;
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  border: 2px solid #dadada;
  border-radius: 7px;
}
.action-buttons{
  padding-top: 9px;
  padding-bottom: 9px;
}
