
<table class="table table-bordered">
  <tr>
    <th colspan="3">
      TOP 10 🏆
    </th>
  </tr>
  <tr *ngIf="loading">
    <td colspan="3">Chargement du classement...</td>
  </tr>
  <tr *ngFor="let row of rank; index as i ">
    <td>
      {{i+1}}
      <span *ngIf="i==0">
        🥇
      </span>
      <span *ngIf="i==1">
        🥈
      </span>
      <span *ngIf="i==2">
        🥉
      </span>
    </td>
    <td>
      <span class="circle"></span>
      <a class="connected-user" [routerLink]="['/user/', row.user.id]">
        <app-avatar userAvatar = "{{row.user.avatar}}"></app-avatar>
         {{row.user.identifiant}}
      </a>
    </td>
    <td>
      {{row.score}}
    </td>
  </tr>
</table>
